<div class="bg">
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="sticker-generator">
                <app-sticker-generator></app-sticker-generator>
            </div>
            <div class="col-md-4">
                <a>
                    <img id="img-shapes" src="../assets/images/smile.png" alt="image" style="margin-top: 80px;">
                </a>
            </div>
        </div>

        <h2 style="margin-top: 200px ;">Recent stickers gallery:</h2>
        <app-sticker-carousel></app-sticker-carousel>
    </div>
</div>