<div class="bg">
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>About the website:</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia hendrerit maximus. Nullam lobortis, tortor nec fringilla eleifend, lacus elit imperdiet lectus, in ornare ante ex quis justo. Nunc vitae nunc consectetur, fringilla mi at, ornare libero. Aliquam gravida sem cursus est lacinia cursus. Curabitur et neque nisi. Nullam nunc tortor, ornare eu dolor ut, aliquet accumsan lacus. Maecenas commodo leo eget dolor consequat, sed gravida risus elementum. Fusce id dui dolor. Donec non nulla nisl. Morbi sem velit, congue sit amet dapibus feugiat, facilisis eget ipsum. Mauris urna urna, tristique vel elementum non, pharetra sit amet magna.

                    Curabitur euismod, lacus ac dictum suscipit, elit nulla euismod mi, sit amet tincidunt sem leo et arcu. Morbi quis dapibus lorem. Quisque dui lorem, tincidunt et fringilla quis, maximus at ex. Phasellus sagittis erat vitae mi fermentum ullamcorper. Nunc et sodales libero. Aenean eget commodo dui, et auctor enim. Nulla ut augue sapien. Donec condimentum tempor est, in laoreet lorem varius non. Etiam nisl tellus, euismod sed gravida sit amet, bibendum rhoncus nibh. Morbi euismod congue ex et tincidunt. In hac habitasse platea dictumst. Mauris nisl massa, fringilla a convallis sed, accumsan at sem. Aliquam eget massa at eros tempus convallis. In vestibulum accumsan quam at faucibus. Mauris volutpat quam in leo dictum aliquet.
                    
                    Maecenas luctus hendrerit auctor. Phasellus porttitor mauris metus, nec blandit felis posuere eget. Integer ultrices, mauris eu malesuada tempus, sapien nulla aliquam lorem, vitae porttitor lacus lorem eget erat. Fusce varius id ipsum in mattis. Sed nec erat et orci venenatis bibendum. Vivamus pellentesque neque nunc, et interdum eros facilisis eget. Pellentesque ultricies felis ipsum, a elementum dui vulputate ut. Cras mollis bibendum volutpat. Morbi vestibulum, ipsum sed maximus faucibus, ex velit ornare tortor, nec venenatis urna lectus a leo. Donec velit erat, porttitor sit amet luctus mattis, eleifend pharetra dolor. Sed blandit lectus et sapien dignissim porttitor. Donec mi nunc, finibus iaculis lectus nec, hendrerit ultrices leo. Morbi elementum vitae nisi ut vestibulum. Sed auctor diam massa, in luctus augue aliquet ut. </p>
            </div>
            <div class="col-md-4">
                <a>
                    <img src="../../assets/shapes.png">
                </a>
            </div>
        </div>
    </div>
    </div>